.btn-box-shadow {
    font-size: 22px !important;
    line-height: 15px !important;
    margin: 6px !important;
}

.btn-box-shadow:focus {
    box-shadow: none !important;
    background-color: none;
}

@media (max-width: 374px) {
    .btn-box-shadow {
        font-size: 18px !important;
        margin: 4px !important;
    }
}
